@page "/fetchlog"

@using BlazorApp.Data
@using InfraStructure.Repositories.CheckIn
@inject CheckInLogService LogService
@inject InMemoryCheckInRepository CheckInRepository

<h1>Checkin log</h1>

<p>This component shows the entire event stream as a log of checkin events</p>

@if (logViewModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="RefreshLog">Click me</button>
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Patient name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patientStatusViewModel in logViewModels)
            {
                <tr>
                    <td>@patientStatusViewModel.TimeStamp.ToShortDateString()</td>
                    <td>@patientStatusViewModel.Status</td>
                    <td>@patientStatusViewModel.PatientName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    CheckInLogService.LogViewModel[] logViewModels;

    async Task RefreshLog()
    {
        CheckInRepository.Refresh();
        logViewModels = await LogService.GetLog();
    }

    protected override async Task OnInitializedAsync()
    {
        logViewModels = await LogService.GetLog();
    }
}
