@page "/fetchlog"

@using BlazorApp.Data
@inject CheckInLogService LogService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (logViewModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Patient name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patientStatusViewModel in logViewModels)
            {
                <tr>
                    <td>@patientStatusViewModel.TimeStamp.ToShortDateString()</td>
                    <td>@patientStatusViewModel.Status</td>
                    <td>@patientStatusViewModel.PatientName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    CheckInLogService.LogViewModel[] logViewModels;

    protected override async Task OnInitializedAsync()
    {
        logViewModels = await LogService.GetLog();
    }
}
